@import 'vars';
@import 'src/styles/auth.scss';
html {
	height: 100%;
	overflow-y: scroll;
	color: white;
}

body {
	background-color: $background;
	margin: 0;
	padding: 0;
}

input,
button {
	border: none;
	color: white;

	&:focus {
		outline: none;
	}
}
